<template>
  <div class="alarm">
    <div class="countdown-container spacer">
      <div class="countdown" :class="{ hide: hide, spin: spin }">
        {{ displayDuration }}
      </div>
    </div>
    <div class="ends-at spacer">
      <div class="spacer-mini">Ends At</div>
      <EndsAt class="spacer-mini"
              :clock="clock"
              :currentDuration="currentDuration"
              timezone="Europe/London"
              locale="en-GB">
      </EndsAt>
      <EndsAt class="spacer-mini"
              :clock="clock"
              :currentDuration="currentDuration"
              locale="en-US"
              timezone="America/New_York">
      </EndsAt>
    </div>

    <div class="buttons">
      <button @click="mainButtonPressed" class="mainButton">{{ mainButtonLabel }}</button>
      <button @click="resetButtonPressed" class="resetButton" :class="{ hide: !showResetButton }">RESET</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Duration } from 'luxon';
import EndsAt from '@/components/EndsAt.vue';

const states = {
  READY: 1,
  COUNTING: 2,
  PAUSED: 3,
  COMPLETE: 4,
};

let blinkIntervalId = 0;
let context: AudioContext | null = null;
let oscillator: OscillatorNode | null = null;
let gain: GainNode | null = null;

export default defineComponent({
  name: 'Alarm',
  components: {EndsAt},
  props: {
    clock: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      duration: 1000 * 60 * 60 * 8,
      currentDuration: 1000 * 60 * 60 * 8,
      state: states.READY,
      mainButtonLabel: 'PLAY',
      hide: false,
      spin: false,
      showResetButton: false,
    };
  },
  watch: {
    clock() {
      this.update();
    },
    state() {
      switch (this.state) {
        case states.READY:
          this.mainButtonLabel = 'PLAY';
          this.resetClock();
          this.stopBlink();
          this.stopTone();
          this.showResetButton = false;
          this.spin = false;
          break;
        case states.COUNTING:
          this.mainButtonLabel = 'PAUSE';
          this.createAudio();
          this.stopBlink();
          this.showResetButton = false;
          break;
        case states.PAUSED:
          this.mainButtonLabel = 'RESUME';
          this.startBlink();
          this.showResetButton = true;
          break;
        case states.COMPLETE:
          this.mainButtonLabel = 'RESET';
          this.startBlink();
          this.startTone();
          this.spin = true;
          break;
        default:
          throw new Error('Invalid State');
      }
    },
  },
  computed: {
    displayDuration() {
      return Duration.fromMillis(this.currentDuration).toFormat('hh:mm:ss');
    },
  },
  methods: {
    update() {
      if (this.state === states.COUNTING) {
        this.currentDuration -= 1000;
        if (this.currentDuration <= 0) {
          this.currentDuration = 0;
          this.state = states.COMPLETE;
        }
      }
    },
    mainButtonPressed() {
      switch (this.state) {
        case states.READY:
          this.state = states.COUNTING;
          break;
        case states.COUNTING:
          this.state = states.PAUSED;
          break;
        case states.PAUSED:
          this.state = states.COUNTING;
          break;
        case states.COMPLETE:
          this.state = states.READY;
          break;
        default:
          throw new Error('Invalid State');
      }
    },
    resetButtonPressed() {
      this.state = states.READY;
    },
    resetClock() {
      this.currentDuration = this.duration;
    },
    startBlink() {
      blinkIntervalId = setInterval(() => {
        this.hide = !this.hide;
      }, 500);
    },
    stopBlink() {
      this.hide = false;
      clearInterval(blinkIntervalId);
    },
    createAudio() {
      context = new AudioContext();
      oscillator = context.createOscillator();
      gain = context.createGain();
      gain.connect(context.destination);

      oscillator.type = 'square';
      oscillator.frequency.value = 75;
      oscillator.start();
    },
    startTone() {
      if (gain !== null) {
        oscillator?.connect(gain);
      }
    },
    stopTone() {
      try {
        if (gain !== null) {
          oscillator?.disconnect(gain);
        }
      } catch (error) {
        return;
      }
    },
  },
});
</script>

<style scoped lang="scss">
.alarm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countdown-container {
  border: 2px solid black;
  border-radius: 15px;
  width: 100%;
  display: flex;
}

.countdown {
  font-family: 'Azeret Mono', monospace;
  margin: 20px auto 20px auto;
  font-size: 70px;
}

.time-at-end {
  font-family: 'Azeret Mono', monospace;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 20px;
  padding: 15px;
  width: 150px;

  &:first-child {
    margin-bottom: 10px;
  }
}

.spacer {
  margin-bottom: 20px;
}

.spacer-mini {
  margin-bottom: 5px;
}

.ends-at {
  text-align: center;
  font-size: 20px;
}

.hide {
  visibility: hidden;
}

.spin {
  animation:spin 4s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
</style>
