<template>
  <div class="clock">
    <div class="label">{{ label }}</div>
    <div class="time" :class="{ big: big }">{{ time }} <span class="timezone">{{ currentTimezone }}</span></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { DateTime } from 'luxon';

export default defineComponent({
  name: 'Clock',
  props: {
    clock: {
      type: Number,
      required: true,
    },
    locale: {
      type: String,
      required: true,
    },
    timezone: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    big: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
  data() {
    return {
      dateTime: DateTime.now(),
    };
  },
  watch: {
    clock() {
      this.update();
    }
  },
  methods: {
    update() {
      this.dateTime = DateTime.now().setZone(this.timezone);
    }
  },
  computed: {
    time() {
      return this.dateTime.toLocaleString(DateTime.TIME_24_WITH_SECONDS);
    },
    currentTimezone() {
      return this.dateTime.toFormat('ZZZZ', {
        locale: this.locale,
      });
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.clock {
  padding-top: 5px;
  margin-bottom: 20px;
}

.label {
  font-size: 30px;
  width: 40%;
}

.timezone {
  padding: 5px 0;
  font-size: 16px;
}

.time {
  font-family: 'Azeret Mono', monospace;
  font-size: 25px;

  &.big {
    font-size: 35px;
  }
}
</style>
