<template>
  <div class="date-container">
    <div class="date">{{ date }}</div>
    <div class="date-iso">{{ dateIso }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { DateTime } from 'luxon';

export default defineComponent({
  name: 'DateDisplay',
  props: {
    clock: {
      type: Number,
      required: true,
    },
    locale: {
      type: String,
      required: true,
    },
    timezone: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      dateTime: DateTime.now(),
    };
  },
  watch: {
    clock() {
      this.update();
    }
  },
  methods: {
    update() {
      this.dateTime = DateTime.now().setZone(this.timezone).setLocale(this.locale);
    }
  },
  computed: {
    date() {
      return this.dateTime.toLocaleString(DateTime.DATE_HUGE);
    },
    dateIso() {
      return this.dateTime.toISODate();
    },
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.date-container {
  padding-top: 5px;
  margin-bottom: 20px;
}

.date {
  font-size: 28px;
}

.date-iso {
  font-size: 20px;
  color: #666;
}
</style>
