<template>
  <div class="ends-at">
    {{ time }} {{ zone }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { DateTime, Duration } from 'luxon';

export default defineComponent({
  name: 'EndsAt',
  props: {
    clock: {
      type: Number,
      required: true,
    },
    locale: {
      type: String,
      required: true,
    },
    timezone: {
      type: String,
      required: true,
    },
    currentDuration: {
      type: Number,
      required: true,
    }
  },
  data() {
    return {
      dateTime: DateTime.now(),
    };
  },
  watch: {
    clock() {
      this.update();
    }
  },
  methods: {
    update() {
      if (this.currentDuration === 0) {
        return;
      }
      this.dateTime = DateTime.now()
          .setZone(this.timezone)
          .plus(Duration.fromMillis(this.currentDuration));
    },
  },
  computed: {
    time() {
      return this.dateTime.toLocaleString(DateTime.TIME_24_SIMPLE);
    },
    zone() {
      return this.dateTime.toFormat('ZZZZ', {
        locale: this.locale,
      });
    },
  },
});
</script>

<style scoped lang="scss">
.ends-at {
  font-family: 'Azeret Mono', monospace;
}
</style>
