<template>
  <div class="fullscreen">
    <button @click="fullscreen">Fullscreen</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Fullscreen',
  methods: {
    fullscreen() {
      if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen();
      } else {
        document.exitFullscreen();
      }
    },
  },
});
</script>

<style scoped>
.fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
}

button {
  padding: 5px 10px;
}
</style>
