<template>
  <div class="container">
    <div class="column">
      <DateDisplay :clock="clock" timezone="Europe/London" locale="en-GB"></DateDisplay>
      <Clock :clock="clock" timezone="Europe/London" locale="en-GB" label="London" big="true"></Clock>
      <Clock :clock="clock" timezone="America/Los_Angeles" locale="en-US" label="LA (Afero)"></Clock>
      <Clock :clock="clock" timezone="America/New_York" locale="en-US" label="ATL (7F)"></Clock>
      <Clock :clock="clock" timezone="America/Chicago" locale="en-US" label="Houston"></Clock>
    </div>
    <div class="column">
      <Alarm :clock="clock"></Alarm>
      <Fullscreen></Fullscreen>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Clock from '@/components/Clock.vue';
import Alarm from '@/components/Alarm.vue';
import Fullscreen from '@/components/Fullscreen.vue';
import DateDisplay from '@/components/DateDisplay.vue';

export default defineComponent({
  name: 'App',
  components: {
    DateDisplay,
    Fullscreen,
    Alarm,
    Clock,
  },
  data() {
    return {
      clock: 0,
    };
  },
  created() {
    setInterval(() => {
      this.clock += 1;
    }, 1000);
  },
});
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 960px;
  height: 552px;
  background-color: white;
  display: flex;
  border-radius: 10px;
}

.column {
  width: 50%;
  margin: 10px;
}
</style>
